<div class="card"
     *ngIf="attendee$ | async; let attendee">
  <div class="card-body">
    <h5 class="card-title">{{attendee.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{attendee.email}}</h6>
    <p class="card-text">{{attendee.message}}</p>


    <button class="btn btn-primary mx-1"
            [disabled]="loggedOut$ | async"
            (click)="edit()">Edit</button>

    <button class="btn btn-danger mx-1"
            (click)="delete(attendee.id)">Delete</button>
  </div>
</div>
