<ng-container *ngIf="edit$ | async"> </ng-container>
<div class="modal-header">
  <h4 class="modal-title">{{formTitle$ | async}}</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form"
        (ngSubmit)="save()">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control"
             [class.is-invalid]="form.controls['name'].invalid && form.controls['name'].touched"
             type="string"
             formControlName="name">
      <div class="invalid-feedback"
           [class.d-block]="form.controls['name'].invalid && form.controls['name'].touched && form.controls['name'].hasError('required')">
        (*) Name required
      </div>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control"
             [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].touched"
             type="string"
             formControlName="email">
      <div class="invalid-feedback"
           [class.d-block]="form.controls['email'].invalid && form.controls['email'].touched && form.controls['email'].hasError('required')">
        (*) Email required
      </div>
      <div class="invalid-feedback"
           [class.d-block]="form.controls['email'].invalid && form.controls['email'].touched && form.controls['email'].hasError('email')">
        (*) Email format incorrect
      </div>
    </div>
    <div class="form-group">
      <label>Message:</label>
      <textarea class="form-control"
                formControlName="message"
                rows="3"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger mx-2"
          (click)="dismiss()"
          [disabled]="disabled"> Cancel </button>
  <button class="btn btn-primary mx-2"
          [disabled]="disabled"
          (click)="save()"> Save </button>
</div>
