<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
   <h5 class="my-0 mr-md-auto font-weight-normal">State management with Ngxs</h5>
   <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark"
         [routerLink]="['/angular']">Angular</a>
      <a class="p-2 text-dark"
         [routerLink]="['/rxjs']">Rxjs</a>
      <a class="p-2 text-dark"
         [routerLink]="['/rxjs-service']">Rxjs Service I</a>
      <a class="p-2 text-dark"
         [routerLink]="['/rxjs-service-ii']">Rxjs Service II</a>
      <a class="p-2 text-dark"
         [routerLink]="['/ngxs-service']">Ngxs I</a>
      <a class="p-2 text-dark"
         [routerLink]="['/ngxs-service']">Ngxs II</a>
   </nav>
   <a class="btn btn-outline-primary"
      [routerLink]="['/login']">Login</a>
</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
   <h1 class="display-4">{{ pageTitle$ | async }}</h1>
   <p class="lead">{{ pageDescription$ | async }}</p>
</div>

<router-outlet></router-outlet>
