<div class="d-flex flex-wrap">
  <div class="card mr-2 mb-2"
       *ngFor="let attendee of attendees$ | async">
    <div class="card-body">
      <h5 class="card-title">{{attendee.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{attendee.email}}</h6>

      <button class="btn btn-primary"
              (click)="detail(attendee)">Open</button>
    </div>
  </div>
</div>

<div class="d-flex align-items-center"
     *ngIf="loading$ | async">
  <div class="spinner-border"
       role="status">
  </div>
  <span class="ml-2">Loading... </span>
</div>
